<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head"></head>
    
    <body>
        <h1 th:text="#{cliente.titulo}"></h1>
        <header th:replace="plantilla/template::header"></header>
        
        <div class=" container">
            <div class="card-header big-black text-white"> </div>
            <div class="card-body">
        

        <!-- ESTO ES UN FORMULARIO -->            
                <div class="container">
                    <form th:object =" ${persona}"
                          th:action="@{/save}"
                          method ="POST"
                          >
                        <div class="form-group mb-3 row">
                        <label class="col-md-2 col-form-label" for="nombre">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{nombre}" class="form-control form-control-sm col-md-6" placeholder="Nombre"id="nombre"aria-describedby="emailHelp"/>
                        </div>
                        </div>
                        
                        <div class="form-group mb-3 row">
                        <label class="col-md-2 col-form-label" for="apellido1">Apellido1</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{apellido1}" class="form-control form-control-sm col-md-6" placeholder="Apellido1"id="apellido1"aria-describedby="emailHelp"/>
                        </div>
                        </div>
                        
                         <div class="form-group mb-3 row">
                        <label class="col-md-2 col-form-label" for="apellido2">Apellido2</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{apellido2}" class="form-control form-control-sm col-md-6" placeholder="Apellido2"id="apellido2"aria-describedby="emailHelp"/>
                        </div>
                        </div>
                        
                         <div class="form-group mb-3 row">
                        <label class="col-md-2 col-form-label" for="email">Telefono</label>
                        <div class="col-sm-10">
                        <input type="text" th:field="*{telefono}" class="form-control form-control-sm col-md-6" placeholder="Telefono"id="telefono"aria-describedby="emailHelp"/>
                        </div>
                        </div>
                        
                         <div class="form-group mb-3 row">
                        <label class="col-md-2 col-form-label" for="email">Email</label>
                        <div class="col-sm-10">
                        <input type="text" th:field="*{email}" class="form-control form-control-sm col-md-6" placeholder="Email"id="email"aria-describedby="emailHelp"/>
                        </div>
                        </div>
                        
                         <div class="form-group mb-3 row">
                        <label class="col-md-2 col-form-label" for="paises">Paises</label>
                        <div class="col-sm-10">
                            <select th:field="*{pais}" class="form-control-sm col-md-6" id="pais" aria-describedby="emailHelp">
                                <option th:each="x:${paises}"
                                        th:value="${x.id}"
                                        th:text="${x.pais}"/>
                            </select>
                        </div>
                        </div>
                        <button type="submit" class="btnbtn-primary" value="Gurdar">Submit</button>
                    </form>
                        </div>
                </div>
            </div>
        
        
        <!-- CONTENIDO -->
        <div class ="container"></div>
        
        <!-- FOOTER -->
        <footer th:gragment="footer" classs="bg-dark text-white fixed-bottom">
            <div>
                <p>Copyringht Tienda &copy 2023</p>
                
                <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                    th:href="${urlBuilder.replaceQueryParam('lang','es').toUriString()}">ES</a>
                
                <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                    th:href="${urlBuilder.replaceQueryParam('lang','en').toUriString()}">EN</a>
                
            </div>
            
        </footer>
    </body>
</html>
